<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h1>Create New Blog</h1>
<p>
    <a href="/blog">Back To List Blog</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/create}" th:object="${blogForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Title</th>
            <td>
                <label>
                    <input type="text" th:field="*{title}">
                </label>
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <label>
                    <input type="text" th:field="*{content}">
                </label>
            </td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                <label>
                    <input type="text" th:field="*{author}">
                </label>
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                <label>
                    <select th:field="*{category}">
                        <option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}"></option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>