<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<p>
    <a href="/blog">Back to Blog List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/edit}" th:object="${blogForm}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td><label>
                <input type="text" th:field="*{title}">
            </label></td>
        </tr>
        <tr>
            <td>Content</td>
            <td>
                <label>
                    <input type="text" th:field="*{content}">
                </label>
            </td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <label>
                    <input type="text" th:field="*{author}">
                </label>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <label>
                    <select name="category">
                        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"
                                th:selected="(${blogForm.category}) and (${c.id} == *{category.id})">
                        </option>
                    </select>
                </label>
            </td>

        </tr>
        <tr>
            <td>Image</td>
            <td>
                <img width="100" height="100" th:src="@{'/image/' + ${blogForm.image.getOriginalFilename()}}" alt="">
                <input type="file" th:field="*{image}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>