<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        img {
            width: 10%;
        }
    </style>
</head>
<body>
<!--<p>-->
<!--    <a href="/blog/create">Create New Customer</a>-->
<!--</p>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Author</th>-->
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--    </tr>-->
<!--    <th:block th:each="blog :${blogs}">-->
<!--        <tr>-->
<!--            <td><a th:href="@{/blog/view/__${blog.id}__}" th:text="${blog.title}"></a></td>-->
<!--            <td th:text="${blog.author}"></td>-->
<!--            <td><a th:href="@{/blog/edit/__${blog.id}__}">Edit</a></td>-->
<!--            <td><a th:href="@{/blog/delete/__${blog.id}__}">Delete</a></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->

<!--create-->
<h1>Tìm Kiếm</h1>
<form id="search-title">
    <input type="text" name="titles" id="titles">
    <input type="button" id="titleSearch" onclick="FormSearchTitle()" value="Search"
           placeholder="Tìm kiếm theo tiêu đề">
</form>

<h1>Create Blog</h1>
<form id="add-blog">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" id="title" placeholder="title"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" id="content" placeholder="content"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" id="author" placeholder="author"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" id="images" name="images" placeholder="image" onchange="ImagesFileAsURL()"></td>
            <td id="displayImg"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select id="category">
                    <option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewBlog()"></td>
        </tr>
    </table>
</form>

<!--list-->
<h1>List Blog</h1>
<table id="blogList" border="1px">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Image</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <th:block th:each="blog :${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.author}"></td>
            <td><img th:src="@{'/image/' + ${blog.image}}" alt=""></td>
            <td th:text="${blog.category.getName()}"></td>
            <td>
                <button th:value="${blog.getId()}" onclick="deleteBlog(this)">Delete</button>
            </td>
            <td>
                <button th:value="${blog.getId()}" onclick="openForm(this)">Edit</button>
            </td>
        </tr>
    </th:block>
</table>

<!--edit-->
<form id="edit-blog" style="display: none">
    <h1>Edit Blog</h1>
    <table>
        <input type="hidden" name="idEdit" id="idEdit">
        <tr>
            <td>Title:</td>
            <td><input type="text" id="titleEdit" placeholder="title"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" id="contentEdit" placeholder="content"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" id="authorEdit" placeholder="author"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" id="imagesEdit" name="images" placeholder="image" onchange="ImagesFileAsURL()">
            </td>
            <td id="displayImgEdit"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select id="categoryEdit">
                    <option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="edit" onclick="editBlog()"></td>
        </tr>
        <tr>
            <td></td>
            <button type="button" onclick="closeForm()">Close</button>
        </tr>
    </table>
</form>
<form action="/logout" method="post">
    <div>
        <button name="logout">Logout</button>
    </div>
</form>

<script src="../../../javascript/blog.js"></script>
</body>
</html>